.button {
    -fx-background-color: none;
}

.btnInside {
    -fx-background-color: none;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}
.icon{
    -fx-fill: #041E42;
}
.btnInside:hover {
    -fx-background-color: #041E42;
}

.btnInside:hover .icon {
    -fx-fill: white;
}

.btnInside:hover .textInside {
    -fx-fill: white;
}