
#background{
    -fx-background-color: black;
}

#bottom{
    -fx-background-color: lightgray;
}

#Btn1{
    -fx-background-color: black;
    -fx-text-fill: white;
}

#Btn1:hover {
    -fx-text-fill: #7B68EE;
}

#menuButton{
    -fx-background-color: gray;
    -fx-text-fill: white;
}

#menuButton:hover {
    -fx-background-color: black;
    -fx-text-fill: #7B68EE;
}

#menuBar{
    -fx-background-color: #333333;
}
