
#background{
    -fx-background-color: #FFFAFA;
}

#bottom{
    -fx-background-color: #FFFAF0;
}

#Btn1{
    -fx-background-color: #F5F5F5;
}

#Btn1:hover {
    -fx-background-color: #FFFAF0 ;
}

#textBtn1 {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#textBtn1:hover {
    -fx-text-fill: red;
    -fx-cursor: hand;
}

#menuButton{
    -fx-background-color: lightgray;
    -fx-text-fill: white;
}

#menuButton:hover {
    -fx-background-color: black;
    -fx-text-fill: #7B68EE;
    -fx-cursor: hand;
}

#menuBar{
    -fx-background-color: #FFFAF0;
}


